/*GENERAL*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#body {
    background-image: url(images/background.jpg);
    background-size: cover;
}

@media screen and (max-width:768px) {
    #body {
        background-position: center right;
        
    }
}

#main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}